
<div class="contact" [style.background-image]="'url(' + imageBg + ')'">
    <div class="content">
<h1>Contacto</h1>
<p>Si tienes alguna pregunta o deseas solicitar mis servicios, no dudes en contactarme.</p>
    <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
          
        </div>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre">
        </div>
        <div class="mb-3">
            <label for="mensaje" class="form-label">Mensaje</label>
            <textarea class="form-control" id="mensaje" rows="3"></textarea>
          </div>
          <div class="d-grid gap-2 mx-auto">
        <button type="submit" class="btn btn-outline-primary">Enviar</button>
        <a class="btn btn-outline-success" href="#">Contactar por WhatsApp</a>
    </div>
    </form>
</div>
</div>