
.contact{
    display: flex;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.content {
    border-radius: 5px; /* Cambiado a un valor fijo para mayor consistencia */
    border: 1px solid #0D6EFD; /* Grosor del borde de 1px y estilo sólido */
    padding: 25px; /* Ajustado el relleno para dar más espacio */
    margin: 25px;
    backdrop-filter: blur(5px);
}
