<div class="container-home">
      <h1>Ulises Basualdo</h1>
      <p>Diseñador y Desarrollador de sitios web</p>
      <div class="d-grid gap-2 col-3 mx-auto">
        <a class="btn btn-outline-primary" routerLink="servicios" type="button">Servicios</a>
        <a class="btn btn-outline-primary" routerLink="portfolio" type="button">Portfolio</a>
        <a class="btn btn-outline-primary" routerLink="contacto" type="button">Contacto</a>
        <a class="btn btn-outline-primary" href="#" type="button">Descargar CV</a>
      </div>
  </div>
  